body {
  font-family: 'Open Sans', sans-serif;
}

.fa-calendar {
  float: right;
  color: #d75452;

}
/* line 2, ../sass/_main.scss */
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

/* line 7, ../sass/_main.scss */
.post_list {
  padding-top: 10px;
}

/* line 11, ../sass/_main.scss */
.post {
  border-bottom: 1px solid #eeeeee;
  margin: 20px 0px 20px 0px;
  padding: 20px;
}

.author {
  color: #55627f;
  font-weight: bold;
}